In [1]:
# 1) Assign the 5th character of the string below to a variable.

In [2]:
my_string = "Python Learning"

In [3]:
a=my_string[4]

In [4]:
a

'o'

In [5]:
# 2) Print all characters of the string between the 5th and 8th characters (inclusive).

In [6]:
my_new_string = "ProgramlamayaMerhabaDedik"

In [7]:
my_new_string[4:8]

'raml'

In [8]:
# 3) Reverse the given string using code.

In [9]:
my_last_string = "Afyonkarahisarlilastiramadiklarimizdanmisiniz"

In [10]:
my_last_string[::-1]

'zinisimnadzimiralkidamaritsalilrasiharaknoyfA'

In [11]:
# 4) What will be the data type of the result of the following operation?

4 + 12.2 + 48

In [13]:
type(4 + 12.2 + 48)

float

In [14]:
# 5)What is the result of the following operation?

5 + 7 * 12

In [16]:
5 + 7 * 12

89

In [17]:
# 6) Create this list in at least two different ways: [1, 3, "a"]

In [18]:
myList1=[1,3,"a"]

In [19]:
myList1

[1, 3, 'a']

In [20]:
myList2=[]

In [21]:
x=1
y=3
z="a"
myList2.append(x)
myList2.append(y)
myList2.append(z)

In [22]:
myList2

[1, 3, 'a']

In [23]:
tuples=(1, 3, 'a')

In [24]:
list(tuples)

[1, 3, 'a']

In [25]:
# 7) Extract the "b" below in a single line of code.

In [26]:
my_list = [3.14,4,[2,3,"b"],True]

In [27]:
my_list[2][2]

'b'

In [28]:
# 8) Extract the "a" below in a single line of code.

In [29]:
my_dictionary = {"key1":20.25, "kk2":[40,{"k21":"a"}]}

In [30]:
my_dictionary["kk2"][1]["k21"]

'a'

In [31]:
# 9) Which values will remain when the list below is converted to a set?

In [32]:
my_list_to_be_set = [3,4,9,3,21,22,4,3,9,10,21,22]

In [33]:
set(my_list_to_be_set)

{3, 4, 9, 10, 21, 22}

In [34]:
# 10) What will be the result of the following expression?

In [35]:
x = 30 * 5 + 3

In [36]:
y = 108 - 2 * 4

x > y

In [38]:
x > y

True